.app {
    /* position:relative; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: block;
    height: 100vh;
    background-color: var(--background-color);
    /* overflow: scroll; */
    z-index: -1;
    transition: 0.3s;
}
