.cart{
    margin: 100px auto 0;
    width: 70%;
    height: min-content;
    padding: 30px;
    /* text-align: center; */
    /* position: relative; */
    /* display: inline-block; */
    /* border: 1px solid black; */
    background: var(--background-color);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.43); 
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.43);
    border: 1px solid var(--border-color);
}



.cart_title {
    margin: 0;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--font-color)
}


.cart_line{
    width: 100%;
    height: 1px;
    margin: 20px 0 0;
    background: var(--border-color);
}

.cart-img_block{
    width: min-content;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.cart_product{
    width: 100%;
    /* border: 1px solid black; */
    height: min-content;
    padding: 40px 0;
    border-bottom: 1px solid var(--border-color);
}

.cart_product-block_img{
    width: 200px;
}

.cart_product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.cart_product-info{
    width: 100%;
    margin: 20px 0 0 30px;
    height: max-content;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.cart-error{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: red;
}

.cart_product-info_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 20px;
    border-bottom: 1px solid var(--border-color);
}

.cart_product-info_bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 0;
}

.cart_product-info_top_name{
    font-weight: 700;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.cart_product-info_top_price{
    font-weight: 700;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.cart_product-info_bottom_desc{
    font-weight: 400;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: var(--font-color);
    line-height: 1.8;
}

.cart_product-info_bottom_remove{
    color: rgb(41, 151, 255);
    margin: 0 0 0 20px;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.cart_product-info_bottom_remove:hover{
    text-decoration: underline;
}

.cart{
    margin-bottom: 100px;
}

.cart-total{
    /* border: 1px solid black; */
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid black; */
    /* padding: auto; */
    margin: auto 0;
}


.cart-buy-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 40px;
    /* border: 1px solid black; */
}

.cart-buy{
    background-color: rgb(0, 119, 237);
    padding: 7px 50px;
    color: #fff;
    /* -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.43); 
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.43); */
    box-shadow:
		0 1px 2px rgba(0,0,0,0.07), 
		0 2px 4px rgba(0,0,0,0.07), 
		0 4px 8px rgba(0,0,0,0.07), 
		0 8px 16px rgba(0,0,0,0.07),
		0 16px 32px rgba(0,0,0,0.07), 
		0 32px 64px rgba(0,0,0,0.07);
    font-weight: 300;
    font-size: 22px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: 0.1s;
}

.cart-buy:hover{
    transition: 0.1s;
    background-color: rgb(68, 147, 226);
}

@media only screen and (max-width: 1200px) {
    .cart{
        width: 80%;
    }
}
@media only screen and (max-width: 800px) {
    .cart{
        width: 95%;
    }
    .cart_product{
        display: flex;
        flex-direction: column;
    }
    .cart_product-info{
        width: 90%;
        margin: 20px auto; 
    }
    .cart-total{
        font-size: 20px;
    }
    .cart-buy{
        font-size: 18px;
    }
    .cart-buy-section{
        margin: 20px auto;
    }
}