
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');


.introduce-img{
    background: url('../assets/images/iphon_homepage.jpg')center/auto auto no-repeat;
    width: 100%;
    height: 700px;

}
.iphon12-section_img{
    background: url('../assets/images/iphone_12_pro_us__e5oyysg4k0ya_largetall.jpg')center/auto auto no-repeat;
    width: 100%;
    height: 700px;
    /* border: 1px solid yellow; */
}

.iPadPro-section_img{
    background: url('../assets/images/hero_ipad_pro_non_avail__fcrsmhs4b7ma_largetall.jpg')center/auto auto no-repeat;
    width: 100%;
    height: 700px;
}

.intro-box{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 200px;
    /* border: 1px solid black; */
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
}

.intro-box h2{
    font-size: 55px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #222;
    /* border: 1px solid black; */
    margin: 0 0 5px;
    text-align: center;
}



.intro-box h3{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    font-weight: 400;
    color: #222;
    text-align: center;
    /* border: 1px solid black; */
}

.intro-box h4{
    margin: 10px 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #86868b;
    text-align: center;
    /* border: 1px solid black; */
    line-height: 25px
}

.intro-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 250px;
    max-width: 400;
    margin: 20px auto 0;
    padding: 0 20px 0 0;
    /* border: 1px solid black; */
}

.intro-flex a{
    color: rgb(0, 102, 204);
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    margin: 0 20px;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;

}

.intro-flex a:hover{
    text-decoration: underline;
}

.iphone12{
    margin: 15px 0 20px 0;
    position: relative;
    height: 700px;
}

.iphon12-section{
    width: 100%;
    background-color: rgba(0, 0, 0);
    
}

.iphon12-section_info-section{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 200px;
    /* border: 1px solid black; */
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.iphon12-section_info-section h2{
    font-size: 55px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: rgb(245, 245, 247);
    /* border: 1px solid black; */
    margin: 0 0 5px;
    text-align: center;
}

.iphon12-section_info-section h3{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    font-weight: 400;
    color: rgb(245, 245, 247);
    text-align: center;
    /* border: 1px solid black; */
}

.iphon12-section_info-section h4{
    margin: 10px 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgb(134, 134, 139);
    text-align: center;
    /* border: 1px solid black; */
    line-height: 25px
}

.iphon12-section_info-section-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 300px;
    max-width: 450;
    margin: 30px auto 0;
    padding: 0 20px 0 0;
    /* border: 1px solid black; */
}

.iphon12-section_info-section-flex a{
    color: rgb(41, 151, 255);
    cursor: pointer;
    white-space: nowrap;
    margin: 0 20px;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

}

.iphon12-section_info-section-flex a:hover{
    text-decoration: underline;
}






.iPadPro{
    margin: 15px 0 20px 0;
    position: relative;
    height: 700px;
}

.iPadPro-section{
    width: 100%;
    background-color: rgba(0, 0, 0);
    
}

.iPadPro-section_info-section{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 200px;
    /* border: 1px solid black; */
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.iPadPro-section_info-section h2{
    font-size: 55px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: rgb(245, 245, 247);
    /* border: 1px solid black; */
    margin: 0 0 5px;
    text-align: center;
}

.iPadPro-section_info-section h3{
    margin: 5px 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    font-weight: 400;
    color: rgb(245, 245, 247);
    text-align: center;
    /* border: 1px solid black; */
}

.iPadPro-section_info-section h4{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgb(134, 134, 139);
    text-align: center;
    /* border: 1px solid black; */
    line-height: 25px
}

.iPadPro-section_info-section-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 230px;
    max-width: 450px;
    /* border: 1px solid white; */
    margin: 20px auto 0;
    padding: 0 20px 0 0;
}

.iPadPro-section_info-section-flex a{
    color: rgb(41, 151, 255);
    cursor: pointer;
    white-space: nowrap;
    margin: 0 20px;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

}

.iPadPro-section_info-section-flex a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    .intro-box h2{
        font-size: 35px;
    }
    .intro-box h3{
        font-size: 25px;

    }
    .intro-box h4{
        font-size: 15px;
        width: 60%;
        margin: 10px auto;
    }

    .introduce-img{
        width: 100%;
        height: 600px;
    }

    .iphon12-section_info-section h2{
        font-size: 35px;
    }
    .iphon12-section_info-section h3{
        font-size: 25px;

    }
    .iphon12-section_info-section h4{
        font-size: 15px;
        width: 60%;
        margin: 10px auto;
    }

    .intro-box{
        width: 100%;
    }

    .iphon12-section_info-section{
        width: 100%;
    }

    .iPadPro-section_info-section h2{
        font-size: 35px;
    }
    .iPadPro-section_info-section h3{
        font-size: 25px;
        width: 60%;
        margin: 15px auto;
    }
    .iPadPro-section_info-section h4{
        font-size: 15px;
        width: 60%;
        margin: 10px auto;
    }
    .iPadPro-section{
        width: 100%;
    }
    .iPadPro-section_info-section{
        width: 100%;
    }
    /* .iPadPro{
        height: 400px;
    } */
    
}