.product-page{
    margin: 90px 0 0;
}


.product-page-img{
    /* width: 276px;
    height: 167px; */
    /* border: 1px solid black; */
    margin: 0 10px;


    /* background: url('../assets/images/product\ page/macbookair.png') center/100% 100% no-repeat; */
}


.product-page_title{
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #222;
    text-align: center;
    margin: 150px 0 0;
}


.product-page_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    height: min-content;
    /* border: 1px solid #ddd; */
    margin: 100px auto 50px;
}

.product-page_flex_product{
    width: 300px;
    /* border: 1px solid black; */

}

.product-page_flex_product_title{
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #222;
    text-align: center;
    margin: 50px 0 10px;
}

.product-page_flex_product_under-title{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #222;
    text-align: center;
    /* border: 1px solid black; */
}


.product-page_flex_product_desc{
    margin: 20px 0 0;
    border-top: 1px solid #ddd;
    
}

.product-page-img_block{
    width: min-content;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.product-page_flex_product_desc p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #222;
    text-align: center;
    line-height: 5;
}


.product-page_flex_product_buy{
    background: rgb(30, 120, 211);
    /* padding: 5px; */
    white-space: nowrap;
    width: min-content;
    color: white;
    font-size: 11px;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 25px auto 35px;
    cursor: pointer;
    transition: 0.1s;
}

.product-page_flex_product_buy:hover{
    background-color:#68b4ff ;
}

