.under-menu{
    width: 100%;
    /* margin: 44px 0 0; */
    height: 44px;
    position: absolute;
    top: 44px;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    /* -webkit-box-shadow: 0px 0px 33px 3px rgba(0,0,0,0.53); 
box-shadow: 0px 0px 33px 3px rgba(0,0,0,0.53); */
}



.under-menu_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: min-content;
    /* border: 1px solid black; */
    margin: auto;
}

.under-menu_section_elements{
    line-height: 3.7;
    font-family: 'Montserrat', sans-serif;
    font: 500;
    white-space:nowrap;
    font-size: 12px;
    color: var(--font-color);
    padding: 0 20px;
    cursor: pointer;
    transition: 0.1s;
    /* border: 1px solid blue; */
}

.under-menu_section_elements:hover{
    color: rgb(110, 105, 105);
    transition: 0.1s;
}

@media only screen and (max-width: 1000px) {
    .under-menu_section{
        /* border: 1px solid blue; */
        padding: 0 5%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid var(--border-color);
        background-color: var(--background-color);

    }
    
}







