

.theme-light {
    --color-primary: #0060df;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --font-color: #222;
    --background-color: #fbfbfd;
    --border-color: #eee;
  }
  .theme-dark {
    --color-primary: #17ed90;
    --color-secondary: #2a2c2d;
    --color-accent: #12cdea;
    --font-color: #ddd;
    --border-color: #333;
    --background-color: #000;
  }


body {
    margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
